{% extends 'base.html' %}

{% load my_tags %}
{% load leaflet_tags %}
{% load staticfiles %}

{% block content %}
    <h1 class="page-header">
        Stops lists
    </h1>
    <h2>Sorted by {{ sort_by }}</h2>
    {% if sort_by == 'distance' %}
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 col-xs-12 col-xs-offset-0 current-location">
                <div class="same-y">
                    {% leaflet_map 'current' 'init_current_location_map' %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12">
            <div class="buttons">
                <button class="btn btn-primary" id="sort-north">
                    Sort North to South
                </button>
                <button class="btn btn-primary" id="sort-distance" disabled>
                    Sort by distance to current location
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        <table class="table table-bordered">
            <tr>
                <th  class=xol-sm-1">
                    #
                </th>
                <th class="col-sm-3">
                    Data
                </th>
                <th class="col-sm-8">
                    Point
                </th>
            </tr>
        {% for stop in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td style="padding: 0px">
                    <ul class="list-group" style="margin: 0px"></ul>
                        <li class="list-group-item">
                            ID: {{ stop.id }}
                        </li>
                        <li class="list-group-item">
                            GTFS IS: {{ stop.gtfs_stop_id }}
                        </li>
                        <li class="list-group-item">
                            Name: {{ stop | u }}
                        </li>
                        {% if view.sort_by_distance %}
                        <li class="list-group-item">
                            Distance: {{ stop.distance | format_dist }}
                        </li>
                        {% endif %}
                    </ul>
                </td>
                {% with callback=stop|stop_map_init map_name=stop|map_name %}
                <td><div class="same-y">
                    {% leaflet_map map_name callback=callback %}
                    </div>
                </td>
                {% endwith %}
            </tr>
        {% endfor %}
        </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/map_utils.js' %}"></script>
    <script>
        {% for object in object_list %}
            window.init_stop_map_{{ object.id }} = init_point_factory({{ object.point.geojson | safe }});
        {% endfor %}
        {% if sort_by == 'distance' %}
            window.init_current_location_map = init_point_factory({{ location.geojson | safe}});
        {% endif %}
        $(function() {
             var position = null;
             navigator.geolocation.getCurrentPosition(function(p) {
                 position = p;
                 $("#sort-distance").attr("disabled", false);
             });
             $("#sort-north").click(function() {
                window.location.href = "{% url 'core:stops' %}?sort_by=north";
             });
             $("#sort-distance").click(function() {
                var params = 'sort_by=distance&lat=' + position.coords.latitude + '&lon=' + position.coords.longitude;
                window.location.href = "{% url 'core:stops' %}?" + params;
             });


        })
    </script>
{% endblock %}
