{% extends 'base.html' %}
{% load leaflet_tags %}

{% load my_tags %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item">{{ object | u }}</li>
                <li class="list-group-item">ID: {{ object.id }}</li>
                <li class="list-group-item">GTFS ID: {{ object.gtfs_stop_id }}</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div>
             {% leaflet_map "stop_map" callback="init_stop_map" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
    function init_stop_map(map, options) {
        var latlng = [{{ object.point.y }}, {{ object.point.x }}];
        L.marker(latlng).addTo(map);
        map.setView(latlng, 16);
    }
    </script>
{% endblock %}