{% extends 'base.html' %}
{% load leaflet_tags staticfiles %}

{% load my_tags %}

{% block page_title %}
    Stop {{ object.name }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <ul class="list-group">
                <li class="list-group-item">{{ object | u }}</li>
                <li class="list-group-item">ID: {{ object.id }}</li>
                <li class="list-group-item">GTFS ID: {{ object.gtfs_stop_id }}</li>
            </ul>
        </div>
        <div class="col-md-8 col-xs-12">
            <div class="bordered same-y">
                {% leaflet_map "stop_map" callback="init_stop_map" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/map_utils.js' %}"></script>
    <script>
    var init_stop_map = init_point_factory({{ object.point.geojson | safe }});
    </script>
{% endblock %}