.main {
    margin-top: 30px;
    padding-top: 30px;
}

.current-location {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px black solid;
}

.bordered {
    border: 1px black solid;
}

.buttons {
    margin-bottom: 10px;
}

.same-y {
  height: 400px;
}

.same-y .leaflet-container-default {
    height: 100%;
}
